<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="InfinityX Secured"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight">
        
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Blurs/Hides Recents thumbnails for secured apps in Infinity X Launcher." />
        <meta-data
            android:name="xposedminversion"
            android:value="93" />
    </application>
</manifest>
